a:link{
    text-decoration: none;
    Color: #000000
}

a:active {
    text-decoration: none;
    Color: #000000
}

a:hover {
    text-decoration: underline;
    Color: #858BAA
}

a:visited {
    text-decoration: none;
    Color: #8A8A8A
}

body {
    font-size: 12px;
    color: #000000;
    font-family: ו;
}

font {
    line-height: normal;
}

td {
    font-family: ו;
    font-size: 12px;
    line-height: 15px;
}

th {
    background-image: url('images/bg2.gif');
    background-color: #858BAA;
    color: white;
    font-size: 12px;
    font-weight: bold
}

td.tablebody1 {
    background-color: #FFFFFF;
}

td.tablebody2 {
    background-color: #E4F3FF;
}

.tableborder1 {
    width: 97%;
    border: 1px;
    background-color: #AFB2C4;
}

.tableBorder2 {
    width: 97%;
    border: 1px #DEDEDE solid;
    background-color: #EFEFEF;
}
